@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 22, 21, 19;
    --foreground: 237 237 237;
  }
}

* {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-fira-code), monospace;
}
